</div>
</div>
</div>
</div>
<!--4 div closer for gutter from nav.ejs-->
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; 2021 Ferdian Atmadiputra - TODOLIST</span>
    </div>
</footer>
</body>
</html>