<%- include('partials/navbar-logout'); %>
    <h2>Login</h2>
    <form action="/user/login" method="POST">
        <div class="mb-3 form-floating">
            <input type="text" name="username" id="username" required class="col-sm-6 form-control" placeholder="budi">
            <label for="username" class="col-form-label">
                Username
            </label>
        </div>

        <div class="mb-3 form-floating">
            <input type="password" name="password" id="password" required class="col-sm-6 form-control" placeholder="password">
            <label for="password" class="col-form-label">
                Password
            </label>
        </div>
        <div>
            <input type="submit" id="submit" class="btn btn-primary btn-md" value="Submit">
        </div>
    </form>
<%- include('partials/footer'); %>