<div class="mb-3 form-floating">
    <input type="text" name="collaborator" id="collaborator" list="listUser" class="col-sm-6 form-control" placeholder="ap@emailmu.com">
    <label for="collaborator" class="col-form-label">
        Add Collaborator
    </label>
    <datalist id="listUser">
        <%for (let i =0; i< users.length; i++){%>
            <%if (users[i].id !== currentUser){%>
            <option value="<%=user.username%>"%>
        <%}}%>
    </datalist>
</div>